*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ebe8e9;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #133546;
    color: white;
    padding: 10px 30px;
}
ul{
    display: flex;
    gap: 35px;
    padding-top: 15px;
}
ul li{
    list-style: none;
    cursor: pointer;
}
ul li i{
    font-size: 0.7em;
}
.info{
    font-size: 0.6em;
}
#two{
    padding-left: 50px;
}
#tel{
    font-weight: bolder;
    padding-left: 30px;
}
li:hover i{
    transform: rotate(180deg);
    cursor: pointer;
}

ul li:hover .sub-menu{
    display: block;
    position: absolute;
    color: #133546;
    width: 120px;
    top: 53px;
    padding: 10px;
    line-height: 30px;
}
li a{
    color: white;
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(e30a86635f310092a76afe3e925bbd21.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.hero h1{
    padding-top: 10%;
    font-size: 3em;
    color: rgb(255, 255, 255);
}
.box img{
    width: 349px;
}
.box{
    background-color: #133546;
    width: 349px;
    height: 405px;
    position: relative; 
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 0px 4px 19px #082534;
}

.box h1{
    position: absolute;
    top: 60px;
    left: 40px;
    color: white;
}
.box p{
    color: white;
    margin: 25px 20px 20px 40px;
    font-size: 1.1em;   
}
.box button{
    display: none;
}
.box:hover button{
    display: block;
    position: absolute;
    top: 120px;
    left: 70px;
    background-color: rgb(89, 49, 146);
    color: white;
    font-size: 1.2em;
    padding: 6px 30px;
    border: none;
    border-radius: 10px;
}
.box button:hover{
    background-color: red;
    color: black;
}
.box:hover img{
    transform: scale(0.98);
}
.container2{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 80vh;
}

.part-five{
    background-color: #ffffff;
    margin-left: 30px;
    height: 80vh;
    width: 95%;
    border-radius: 15px;
}
.guud{
    display: flex;
    gap: 4px;
}
.one{
    margin-top: 10px;
    margin-left: 10px;
    height: 60vh;
}
.one1 img{
    width: 353px;
    margin-top: 0px;
}
.sub1{
    display: flex;
    gap: 4px;
    font-size: 1.4em;
}
.one h2{
    font-size: 1.3em;
    margin-top: 30px;
}
.one p{
    margin-top: 10px;
}
.one button{
    margin-top: 30px;
    padding: 6px 10px;
}
.trend{
    width: 324px;
    height: 230px;
    background-color: #133546;  
}
.trend h1{
    font-size: 1em;
}
.trend h1{
    text-align: center;
    color: white;
}
.trend h2{
    font-size: 5em;
    margin-top: 30px;
    margin-left: 100px;
    color: white;
}
.trend button{
    margin-top: 10px;
    margin-left: 120px;
    padding: 6px 17px;
    background-color: white;
    color: #133546;
    border: none;
}
.left-side{
    display: flex;
    gap: 8px;
    color: white;
    background-color: #133546;
    width: 519px;
    height: 470px;
    border-top-left-radius: 10px;
}
.container4{
    display: flex;
    gap: 8px;
    background-color: #133546;
    height: 230px;
    width: 350px;
    color: white;
}
.container4 h2{
    font-size: 1.3em;
}
.two1 img{
    width: 230px;
    border-top-right-radius: 10px;
}
.qoraal{
    display: flex;
    width: 680px;
    height: 230px;
    background-color: #133546;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    gap: 30px;
}
.text h1{
    font-size: 1.9em;
    color: white;
}
.qoral button{
    margin-top: 30px;
    color: #133546;
    padding: 6px 10px;
}
.container5 img{
    width: 345px;
}
.part-six{
    background: url(208fe2491c1aa83544ace6087f852cfe.jpg);
    padding-top: 30px;
    margin-top: 30px;
    width: 100%;
    color: #082534;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.part-six h1{
    margin-left: 50px;
    font-size: 3em;
}
.part-six p{
    margin-left: 50px;
    margin-top: 10px;
}
.part-six h2{
    margin-left: 50px;
    padding-top: 20px;
    font-size: 2em;
}
.part-six #boton:hover{
    background-color: #082534;
    color: white;
    
}
#boton{
    margin-left: 40px;
    padding: 10px 30px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.foo{
    background-color: #082534   ;
    color: white;
    margin-top: 20px;
    height: 400px;
    padding-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.footer{
    display: flex;
    gap: 120px;
    justify-content: center;
    padding-top: 20px;
    
    margin-bottom: 0px;
}
.link{
    padding-left: 50px;
}
.link p{
    padding-top: 10px;
    padding-left: 25px;
}
.link h3{
    font-size: 1.2em;
}

.Categories{
    padding-left: 20px;
}
.Categories h1{
    font-size: 25px;
}
.Categories p{
    padding-top: 10px;
    padding-left: 25px;
    line-height: px;
}
.Contacts{
    font-size: 15px;
    padding-left: 15px;
}
.Contacts h1{
    font-size: 25px;
}
.Contacts p{
    padding-top: 8px; 
}
.keep{
    padding-left: 50px;
}
.keep h1{
    font-size: 25px;
    padding-bottom: 10px;
}
.email{
    position: relative;
}
.email input{
    width: 200px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    color: #082534;
}
.email button{
    position: absolute;
    width: 50px;
    height: 23px;
    background-color: white;
    left: 155px; 
}
.follow{
    padding-top: 25px;
    font-size: 16px
}
.guud-footer{
    padding-top:10px;
    padding-left: 100px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.sub-buttons{
    padding-top: 6px;
}
#button1{
    padding: 7px 10px;
    background-color: white;
    color: #082534;
    border: none;
}
#button2{
    padding: 7px 10px;
    background-color: white;
    color: #082534;
    border: none;
}
#imges{
    padding-top: 5px;
}
#hrs{
    width: 90%;
    margin-left: 80px;
    color: rgb(248,9,9);
    margin-top: 25px;
}
.guud-container{
    display: flex;
}

.image img{
    width: 400px;
    margin-top: 11px;
    margin-left: 280px;
}


@media (max-width: 428px) {
    .header, .footer, .guud-container, .container2, .guud{
        display: block
        
        
    }
    .header{
        display: flex;
        padding: 10px 10px;
    }
    .header i{
        font-size: 2em;
    }
    ul {
       display: none;
    }

    .hero h1 {
        font-size: 1.8em;
        /* padding-top: 50px; */
        align-items: center;
    }

     .trend, .container4, .qoraal, .left-side, .part-five, .part-six, .one1 img, .container5 img, .image img {
        width: 100% !important;
        
        /* margin-bottom: 300px; */
    }
    .box{
        height: 450px;
        margin-bottom: 20px;
        width: 95%;
        margin-left: 10px;
    }
    .box img{
       width: 380px;
       margin-left: 40px;
    }
    .box h1 {
        left: 20px;
        font-size: 1.2em;
        margin-left: 60px;
    }
    .box button{
        margin-left: 80px;
    }
    .guud{
        width: 90%;
        margin-top: 10px;
        margin-left: 0px;
    }
    .left-side{
        margin-bottom: 40px;
        width: 100%;
    }
    .sub1{
        width: 80%;
        margin-bottom: 30px;
    }
    .right-side{
        width: 100%;
        
    }
    .container4{
        width: 100px;
    }
    .part-five{
        margin-top: 840px;
        height: auto;
        width: auto;
        margin-left: 20px;
        background: none;
    }
    .part-six{
       margin: auto;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .qoraal{
        margin-bottom: 20px;
    }
    .box p {
        font-size: 0.8em;
       
        margin-top: 70px;
    }

    .box:hover button {
        top: 100px;
        left: 40px;
    }

    .trend h2 {
        margin-left: 0;
        font-size: 3em;
        text-align: center;
    }

    .trend button {
        margin: 10px auto;
        display: block;
    }

    .part-six h1, 
    .part-six p, 
    .part-six h2,
    #boton {
        margin-left: 20px;
        text-align: left;
    }

    .foo {
        height: auto;
        padding: 20px;
        padding-bottom: 40px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        
    }
    .sub-buttons{
        display: flex;
    }
    .guud-footer{
        padding-left: 10px;
    }
    .email input {
        width: 100%;
        left: 0;
    }

    .email button {
        position: static;
        width: 100%;
        margin-top: 5px;
    }

    .image img {
        width: 90%;
        margin: 10px auto;
    }

    #hrs {
        margin-left: auto;
        margin-right: auto;
    }
}
